{
  "plugins": [
    "external-helpers",
    ["../../../../lib", {
      "globals": {
        "umd/module-name-with-overridden-global/expected": "baz"
      },
      "exactGlobals": true
    }]
  ],
  "moduleIds": true
}
