{
  "plugins": [
    "external-helpers",
    ["../../../../lib", {
      "globals": {
        "foo-bar": "fooBAR",
        "./mylib/foo-bar": "mylib.fooBar",
        "fizzbuzz": "fizz.buzz"
      }
    }]
  ]
}
