{
  "plugins": [
    "external-helpers",
    ["../../../../lib", {
      "globals": {
        "my custom module name": "baz"
      },
      "exactGlobals": true
    }]
  ],
  "moduleId": "my custom module name"
}
